extends layout

block content
  div#example
  //- nav(class=['navbar','navbar-default','navbar-static-top','navbar-inverse'])
  //-   .container-fluid
  //-     .navbar-header
  //-       a(class='navbar-brand logo',href='#').
  //-         SPORT#[span.mblue AGG]
  //-     div(class='collapse navbar-collapse custom')
  //-       ul(class=['nav','navbar-nav','navbar-right'])
  //-         li.active
  //-           a(href='#') HOME
  //-         li
  //-           a(href='#') SPORTS
  //-         li
  //-           a(href='#') EVENTS
  //-         li
  //-           a(href='#') GALLERY
  //-         li
  //-           a(href='#') ABOUT US
  //-         li
  //-           a(href='#') CONTACT US
  //- .container-fluid
  //-   div(style="float: right;")
  //-     a(href='/auth')
  //-       button(class="btn btn-primary") Login
  //-     a(href='/auth/logout')
  //-       button(class="btn btn-primary") Logout
  //-   div#example
  //-   if user
  //-     h1.
  //-       Welcome, #{user.username}
  //-   else
  //-     h1.
  //-       Login using the button
  //-   .image-holder
  //-     img.image-overlay(src='/images/screenshot_sportagg_main.png')
    
    
