doctype html
html(ng-app="SportaggApp")
  head
    title Sportagg
    script(src='/bower_components/angular/angular.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/main.min.css')
  body
    block content
