<div class="sport-container">
  {{sportName}}
  <div class="row row-eq-height">
    <div class="col-md-3 sport-sidenav">
      SPORTS>{{sportName}} <br/>
      GROUNDS <br/>
      ACADEMIES <br/>
      TOURNAMENTS <br/>
    </div>
    <div class="col-md-9 sport-main">
      <div class="ground-card">
        <div class="ground-card-top">
          1.ABCD Grounds<br/>
          Nungambakkam
        </div>
        <div class="ground-card-bot">
          <button>Details </button>
          <button>Book now </button>
        </div>
      </div>
    </div>
  </div>
</div>
