<div class="sport-container">
  <br/>
  <div class="row row-eq-height">
    <div class="col-md-3 sport-sidenav">
      <ul class="sidenav">
        <li class="current"> SPORTS > <span class="mblue">{{sportName.toUpperCase()}}</span> </li>
        <li> <span class="current">GROUNDS</span> </li>
        <li> ACADEMIES </li>
        <li> TOURNAMENTS </li>
      </ul>
    </div>
    <div class="col-md-9 sport-main">
      <div class="ground-card">
        <div class="ground-card-top">
          <div class="ground-top-text">
            <h4>1.ABCD Grounds</h3>
            <h5>Nungambakkam</h4>
          </div>
          <div class="ground-image">
            <img src="public/images/football2.jpg"/>
          </div>
        </div>
        <div class="ground-card-bot">
          <button>Details </button>
          <button>Book now </button>
        </div>
      </div>
    </div>
  </div>
</div>
