body
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: black
  color: white


/* navbar links */
$mblue : rgb(38, 148, 255)

div.custom
  ul.navbar-nav
    li,li.active,li.focus
      a,a:hover
        color: $mblue

/* title */
.mblue
  color: $mblue
.logo
  font-weight: bolder

/* centre image */
img.image-overlay
  position: relative
