
<div class="row">
  <div class="col-md-4 col-lg-offset-3">
    <h2> Add ground </h2>
    <form class="form">
      <div class="form-group">
        <label>Ground Name:</label>
        <input type="text" ng-model="ground.groundName" class="form-control">
      </div>
      <div class="form-group">
        <label>Sport Name:</label>
        <input ng-model="ground.sportName" class="form-control">
      </div>
      <div class="form-group">
        <label>Address:</label>
        <input ng-model="ground.address" class="form-control">
      </div>
      <div class="form-group">
        <label>Short Location:</label>
        <input ng-model="ground.shortLocation" class="form-control">
      </div>
      <button ng-click="addGround()" class="btn btn-primary">Add Ground</button>
    </form>
  </div>
</div>
