<img class="banner-image" src="public/images/screenshot_sportagg_main.png"></img>
<div class="row text-center">
  <div class="col-md-3 col-img">
    <img src="public/images/location_icon.png"></img>
    FIND A GROUND
  </div>
  <div class="col-md-3 col-img">
    <img src="public/images/search.png"></img>
    SEARCH FOR TOURNAMENTS
  </div>
  <div class="col-md-3 col-img">
    <img src="public/images/reg_icon.png"></img>
    GET REGISTERED
  </div>
  <div class="col-md-3 col-img">
    <img src="public/images/play.png"></img>
    WIN AND PARTY
  </div>

</div>
<h1>Hello</h1>
<a href="#/grounds">Grounds</a>
