<img class="banner-image" src="public/images/screenshot_sportagg_main.png" alt="Sportagg"/>
<div class="row text-center">
  <div class="col-md-3 col-img">
    <img src="public/images/location_icon.png" alt="LOCATE"/>
    FIND A GROUND
  </div>
  <div class="col-md-3 col-img">
    <img src="public/images/search.png" alt="SEARCH"/>
    SEARCH FOR TOURNAMENTS
  </div>
  <div class="col-md-3 col-img">
    <img src="public/images/reg_icon.png" alt="REGISTER"/>
    GET REGISTERED
  </div>
  <div class="col-md-3 col-img">
    <img src="public/images/play.png" alt="WIN"/>
    WIN AND PARTY
  </div>

</div>
<h1>{{(info && info.admin)?"Hello, you are a admin":""}}</h1>
<a href="#/grounds">Grounds</a>
